.btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: var(--Neutral-0);
}
@media (prefers-color-scheme: dark){
    .btn{
        background-color: var(--Neutral-600);
        color: var(--Neutral-200);
    }
}