.card{
    border-radius: 20px;
    padding: 16px;
    display: grid;
    gap: 30px;
}
.cardLight{
    background-color: var(--Neutral-0);
    box-shadow: 1px 1px 2px var(--Neutral-300);
}
.top{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.h3Light{
    color: var(--Neutral-900);
}
.pLight{
    color: var(--Neutral-600);
}
.bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.remove{
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid var(--Neutral-300);
    font-size: 0.9rem;
}
.remove:hover{
    background-color: var(--Neutral-100);
}
.toggle{
    padding: 1px;
    height: 27px;
    width: 47px;
    display: grid;
    place-content: center;
    border-radius: 20px;
    /* background-color: var(--Neutral-0); */
}
.cardDark{
    background-color: var(--Neutral-800);
    box-shadow: 0px 0px 2px var(--Neutral-300);
} 
.h3Dark{
    color: var(--Neutral-100);
}
.pDark{
    color: var(--Neutral-300);
} 
.removeDark{
    color: var(--Neutral-100);
}
.removeDark:hover{
    background-color: var(--Red-400);
    color: var(--Neutral-900);
}
