header{
    display: flex;
    background-color: var(--Neutral-0);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 45px;
}
.headerLight{
    box-shadow: 1px 1px 5px var(--Neutral-300);
}
.headerDark{
    box-shadow: 0px 0px 2px var(--Neutral-300);
}
.themeBtn{
    padding: 10px;
    border-radius: 10px;
}
.themeBtnLight{
    background-color: var(--Neutral-100);
}
.themeBtnDark{
    background-color: var(--Neutral-600);
}