main{
    display: grid;
    gap: 40px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h1Light{
    color: var(--Neutral-900);
}
.btns{
    display: flex;
    gap: 10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
}
.h1Dark{
    color: var(--Neutral-0);
}
